/.metadata/
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_mdma.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_hsem.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_gpio.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_exti.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma_ex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_cortex.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal.c
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_uart_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_uart.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_tim_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_tim.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_spi_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_spi.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_rcc_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_rcc.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_pwr_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_pwr.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_mdma.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_i2c_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_i2c.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_hsem.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_gpio_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_gpio.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_flash_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_flash.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_exti.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_dma_ex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_dma.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_def.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal_cortex.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal.h
STM32H7/Drivers/STM32H7xx_HAL_Driver/Inc/Legacy/stm32_hal_legacy.h
STM32H7/Drivers/CMSIS/Include/tz_context.h
STM32H7/Drivers/CMSIS/Include/mpu_armv8.h
STM32H7/Drivers/CMSIS/Include/mpu_armv7.h
STM32H7/Drivers/CMSIS/Include/core_sc300.h
STM32H7/Drivers/CMSIS/Include/core_sc000.h
STM32H7/Drivers/CMSIS/Include/core_cm7.h
STM32H7/Drivers/CMSIS/Include/core_cm4.h
STM32H7/Drivers/CMSIS/Include/core_cm35p.h
STM32H7/Drivers/CMSIS/Include/core_cm33.h
STM32H7/Drivers/CMSIS/Include/core_cm3.h
STM32H7/Drivers/CMSIS/Include/core_cm23.h
STM32H7/Drivers/CMSIS/Include/core_cm1.h
STM32H7/Drivers/CMSIS/Include/core_cm0plus.h
STM32H7/Drivers/CMSIS/Include/core_cm0.h
STM32H7/Drivers/CMSIS/Include/core_armv8mml.h
STM32H7/Drivers/CMSIS/Include/core_armv8mbl.h
STM32H7/Drivers/CMSIS/Include/core_armv81mml.h
STM32H7/Drivers/CMSIS/Include/cmsis_version.h
STM32H7/Drivers/CMSIS/Include/cmsis_iccarm.h
STM32H7/Drivers/CMSIS/Include/cmsis_gcc.h
STM32H7/Drivers/CMSIS/Include/cmsis_compiler.h
STM32H7/Drivers/CMSIS/Include/cmsis_armclang_ltm.h
STM32H7/Drivers/CMSIS/Include/cmsis_armclang.h
STM32H7/Drivers/CMSIS/Include/cmsis_armcc.h
STM32H7/Drivers/CMSIS/Device/ST/STM32H7xx/Include/system_stm32h7xx.h
STM32H7/Drivers/CMSIS/Device/ST/STM32H7xx/Include/stm32h7xx.h
STM32H7/Drivers/CMSIS/Device/ST/STM32H7xx/Include/stm32h743xx.h
STM32H7/Docklight Communication.ptp
STM32H7/Debug/STM32H743ZI2_Module8-9.map
STM32H7/Debug/STM32H743ZI2_Module8-9.list
STM32H7/Debug/STM32H743ZI2_Module8-9.elf
STM32H7/Debug/STM32H743ZI2_Module8-9.bin
STM32H7/Debug/sources.mk
STM32H7/Debug/objects.mk
STM32H7/Debug/objects.list
STM32H7/Debug/makefile
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/subdir.mk
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_ll_usb.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_tim.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_spi.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_rcc.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pwr.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pcd_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_pcd.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_mdma.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_mdma.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_mdma.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_i2c.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_hsem.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_hsem.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_hsem.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_gpio.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_gpio.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_gpio.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_flash.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_exti.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_exti.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_exti.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma_ex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma_ex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma_ex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma.su
STM32H7/STM32H743ZITX_RAM.ld
STM32H7/STM32H743ZITX_FLASH.ld
STM32H7/STM32H743ZI2_Module8-9.ioc
STM32H7/STM32H743ZI2_Module8-9 Debug.launch
STM32H7/mx.scratch
STM32H7/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_uart_ex.c
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_dma.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_cortex.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_cortex.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal_cortex.d
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal.su
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal.o
STM32H7/Debug/Drivers/STM32H7xx_HAL_Driver/Src/stm32h7xx_hal.d
STM32H7/Debug/Core/Startup/subdir.mk
STM32H7/Debug/Core/Startup/startup_stm32h743zitx.o
STM32H7/Debug/Core/Startup/startup_stm32h743zitx.d
STM32H7/Debug/Core/Src/system_stm32h7xx.su
STM32H7/Debug/Core/Src/system_stm32h7xx.o
STM32H7/Debug/Core/Src/system_stm32h7xx.d
STM32H7/Debug/Core/Src/sysmem.su
STM32H7/Debug/Core/Src/sysmem.o
STM32H7/Debug/Core/Src/sysmem.d
STM32H7/Debug/Core/Src/syscalls.su
STM32H7/Debug/Core/Src/syscalls.o
STM32H7/Debug/Core/Src/syscalls.d
STM32H7/Debug/Core/Src/subdir.mk
STM32H7/Debug/Core/Src/stm32h7xx_it.su
STM32H7/Debug/Core/Src/stm32h7xx_it.o
STM32H7/Debug/Core/Src/stm32h7xx_it.d
STM32H7/Debug/Core/Src/stm32h7xx_hal_msp.su
STM32H7/Debug/Core/Src/stm32h7xx_hal_msp.o
STM32H7/Debug/Core/Src/stm32h7xx_hal_msp.d
STM32H7/Debug/Core/Src/retarget.su
STM32H7/Debug/Core/Src/MultiStepper.su
STM32H7/Debug/Core/Src/main.su
STM32H7/Debug/Core/Src/main.o
STM32H7/Debug/Core/Src/main.d
STM32H7/Debug/Core/Src/dwt_stm32_delay.su
STM32H7/Debug/Core/Src/dwt_stm32_delay.o
STM32H7/Debug/Core/Src/dwt_stm32_delay.d
STM32H7/Debug/Core/Src/AccelStepper.su
STM32H7/Debug/Core/Src/AccelStepper.o
STM32H7/Debug/Core/Src/AccelStepper.d
STM32H7/Core/Startup/startup_stm32h743zitx.s
STM32H7/Core/Src/system_stm32h7xx.c
STM32H7/Core/Src/sysmem.c
STM32H7/Core/Src/syscalls.c
STM32H7/Core/Src/stm32h7xx_it.c
STM32H7/Core/Src/stm32h7xx_hal_msp.c
STM32H7/Core/Src/main.c
STM32H7/Core/Src/dwt_stm32_delay.c
STM32H7/Core/Src/AccelStepper.c
STM32H7/Core/Inc/stm32h7xx_it.h
STM32H7/Core/Inc/stm32h7xx_hal_conf.h
STM32H7/Core/Inc/micros.h
STM32H7/Core/Inc/main.h
STM32H7/Core/Inc/dwt_stm32_delay.h
STM32H7/Core/Inc/AccelStepper.h
STM32H7/.settings/stm32cubeide.project.prefs
STM32H7/.settings/language.settings.xml
STM32H7/.project
STM32H7/.mxproject
STM32H7/.cproject

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# profiling data
.prof

### vscode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/python,vscode,windows
